.profile__add-btn {
    width: 150px;
    height: 50px;
    background: transparent;
    align-self: center;
    margin-left: auto;
    background-image: url(../../../images/Rectangle.svg);
    border: none;
}

.profile__add-btn:hover {
    opacity: 0.6;
}