.profile-info {
    max-width: 336px;
    display: flex;
    margin-left: 30px;
}

@media screen and (max-width: 1041px) {
    .profile-info {
        max-width: 100%;
        margin-left: 65px;
    }
}

 /* у меня кнопка не пропадает, даже не представляю с чем это связано https://disk.yandex.ru/i/VUFYI4GSU_CbAQ */

